/* header styles */
.header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner Image.png");
    height: 600px;
    max-width: 1320px;
    margin: 50px auto 120px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

#header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 160px;
    margin-bottom: 15px;
}

#header-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0 300px;
}

/* offer section */
.offer {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.offer-detail {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.catagory {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.new-yr-pic {
    width: 802.9px;
    height: 500px;
}

/* welcome party section */
.party-section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    max-width: 1320px;
    height: 600px;
    margin: 120px auto 100px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.wlc-party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    padding: 126px 0 0 126px;
    margin-bottom: 0;
}

.wlc-party-details {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    margin-left: 126px;
    margin-top: 30px;
}

.join-now {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 126px;
    margin-top: 40px;
}

.img {
    width: 319.83px;
    height: 464.662px;
    margin: -380px 0px 0px 880px;
}

/* address section */
.address {
    width: 1320px;
    height: 482px;
    margin: 120px auto 120px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-top: 100px;
}

.address-details-name {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin: 15px;
}

.address-details {
    color: #F00;
}

.join-btn {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

/* upcoming offer */
.upcoming-offer {
    max-width: 1320px;
    height: 363px;
    display: flex;
    margin: 110px auto 110px;
    justify-content: space-between;
}

.best-offer {
    width: 393px;
    margin-top: 50px;
}

.best-offer-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.best-offer-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.best-offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.best-offer-bg-img {
    width: 363px;
    height: 363px;
    border-radius: 363px;
    border: 15px solid #F00;
    align-items: center;
    margin-left: -60px;
}

.best-offer-img {
    width: 263px;
    height: 263px;
    padding: 50px;
    scale: 1.2;
}

.best-offer-wish {
    width: 276px;
}

.best-offer-wish-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.best-offer-wish-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.best-offer-wish-img {
    width: 140px;
    height: 140px;
}

/* holiday-sale */
.holiday-sale {
    max-width: 1320px;
    height: 750px;
    margin: 200px auto 110px;
}

.holiday-sale-texts {
    text-align: center;
}

.holiday-sale-title1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.holiday-sale-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 0;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-details {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.holiday-sale-img {
    position: relative;
    margin-top: 130px;
}

.holiday-imgs {
    margin-top: 200px;
    margin-bottom: 200px;
}

.holiday-sale-img1 {
    position: absolute;
    right: 0;
    bottom: 233px;
}

.holiday-sale-img2 {
    position: absolute;
    right: 280px;
    bottom: 280px;
}

.holiday-sale-img3 {
    position: sticky;
    margin-bottom: -300px;
    scale: 0.7;
}

/* best-gifts */
.best-gifts {
    width: 1320px;
    margin: 420px auto 120px;
}

.best-gifts-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.best-gifts-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.best-gifts-details {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.best-gifts-img {
    width: 423px;
    height: 440px;
    border-radius: 16px;
    margin: 7px;
}

.best-gifts-img:hover {
    scale: 1.03;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.best-gifts-img-p1 {
    justify-content: space-between;
}

.best-gifts-img-p2 {
    justify-content: space-between;
}

/* subscribe */
.subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px auto 120px;
    align-items: center;
}

.subscribe-img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding-top: 90px;
}

.subscribe-texts-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.subscribe-texts-details {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
}

.search {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.search-input-mail {
    width: 438px;
    height: 68px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    padding-left: 40px;
}

.subscribe-btn {
    width: 210px;
    height: 70px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
}