/* header styles */
.header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner Image.png");
    height: 600px;
    max-width: 1320px;
    margin: 50px auto 130px;
    border-radius: 16px;
    background-repeat: no-repeat;
}

#header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 160px;
    margin-bottom: 15px;
}

#header-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 0 300px;
}

/* offer section */
.offer {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.offer-detail {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.catagory {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.new-yr-pic {
    width: 802.9px;
    height: 500px;
}